<!doctype html>
<html lang="zh-cn">

<head>
  <title>极客时间</title>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>

<body>
{% include "section/header.html" %}

<div class="container-1 mb-20">
  <div class="content" style="text-align: center">
    <p class="mb-20">{{ error.message }}</p>
    <a class="Link small" href="/">返回首页</a>
  </div>
</div>

{% include "section/footer.html" %}

</body>

</html>
